table, th, tr, td
{
    border: 1px solid #878787;
    border-collapse: collapse;
    padding: 5px;
}

.customButton
{
    cursor: pointer;
    float: right;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 8px;
}

body
{
    font-family: Arial;
    font-size: 12px;
    /* background-color: Red; */
}

/* Z-index of #mask must lower than #boxes .window */
#mask
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#ModalDialog .window
{
    position: absolute;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
}


#boxes #dialog
{
    width: 375px;
    height: 203px;
}

/*
.Sample
{
    background-color: Red;
}
*/
