<model name="PowerTools">
	<!--
		Replace [Powertools_SVN_Home] with the folder where you have checked out
		the Tridion Powertools project from Coogle code.
		
		Example for my machine: D:\Projects\tridion-2011-power-tools
	-->
	<installpath>[Powertools_SVN_Home]\PowerTools.Model</installpath>
	<configuration>Configuration\Model.config</configuration>
	<vdir>PowerTools</vdir>
</model>
