<configuration>
  
  <appSettings>
    <add key="DragDropUploader.TempDirectory" value="c:\testuploadedimages\"/> <!-- temp path for the uploaded binaries. Be sure the NetworkService has enough rights on this folder!. End the path with a backslash (\)-->
  </appSettings>
  
  <system.webServer>
    <handlers>
      <add name="FileTransferHandler" verb="*"
           path="filetransfer.ashx" type="PowerTools.Common.Handlers.FileTransferHandler"
           resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
</configuration>