<div id="ModalDialog">
	<div id="dialog" class="window" style="border: 2px solid black; width: 300px; height: 100px;
		background-color: white; text-align: center">
		<div style="border: 1px solid black; background-color: white; width: 100%">
			<div id="ProgressBar" style="height: 15px; width: 1px; background-color: navy;">
				&nbsp;</div>
		</div>
		<div id="ProgressStatus" style="width: 100%; text-align: center">
			Progress</div>
		<c:button id="CloseDialog" runat="server" label="Close" class="customButton" />
	</div>
	<div id="mask">
		&#160;
	</div>
</div>