html#TreeViewBase,
html#TreeViewBase body
{
	height: 100%;
	overflow: hidden !important;
	margin:0;
}
#TreeViewBase #LayoutWrapper
{
    height: 100%;
}
.dashboard #LayoutWrapper #DashboardContent
{
	overflow: hidden;
	position: relative;
}
.dashboard #DialogTaskBar
{
    height: 100%;
}
.dashboard #TreePanel
{
	width: 190px;
	position: relative;
	background-color: #fff;
	position: relative;
}
.dashboard #DashboardContent
{
	background: #fff;
}
.dashboard #ComponentsHeader
{
	height: 43px;
}
.dashboard #ComponentsContent
{
	position: absolute;
	top: 0px;
	bottom: 41px;
	left: 0px;
	right: 0px;
}
.dashboard #BottomPanel
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 41px;
	border-top: 1px #a1a9b2 solid;
	background-color: #ebedf0;
}
.dashboard #BottomPanel .footerButtons
{
	float: right;
	margin: 5px 5px 0px;
}
#ComponentStatusMessage	
{
	float: left;
	line-height: 25px;
	margin-left: 20px;
}
.dashboard #ListContainer
{
	height: 230px;
	overflow: hidden;
	position: relative;
}
.dashboard #ComponentSeperator
{
	background: #ebedf0;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #a1a9b2;
	padding: 5px 0px;
	position: relative;
	overflow: hidden;
	height: auto !important;
}
.dashboard #ComponentSeperator > label
{
	float: left;
	margin: 5px;
}
.dashboard #ComponentSeperator #ComponentTemplates
{
	width:300px;
	margin: 3px;
}
#TreeViewBase #ComponentPreview
{
	overflow: hidden;
}

#TreeViewBase #LayoutWrapper #Content
{
    border-width: 1px 1px 1px 1px;
    border-color: #a89199;
    border-style: solid;
}
#TreeViewBase #DashboardSplitter
{
    margin: 0px 2px;
}
#TreeViewBase .taskbar
{
    border: none;
}
#TreeViewBase #TreePanel
{
    width: 200px;
}
#TreeViewBase #TreePage
{
    border-style: solid;
    border-width: 0px 1px;
    border-color: #a89199;
    width: auto;
}
#TreeViewBase #ComponentsFooter .button,
#TreeViewBase #ComponentsContent .button
{
	margin: 5px;
}
#TreeViewBase #ComponentsFooter .button > span,
#TreeViewBase #ComponentsContent .button > span
{
	margin-left:5px;
}
#TreeViewBase .button#InsertButton > span,
#TreeViewBase .button#CloseButton > span
{
	padding : 0;
}
#TreeViewBase .button#PreviewButton
{
	float: right;  margin: 0 5px;
}
#TreeViewBase #ComponentPreviewFrame
{
	width: 100%; height: 100%;
}
#TreeViewBase #TreePage_switch div
{
	background-image: url({ThemePath}Images/Views/Dashboard/section.content-management.24x24.png);
}
#TreeViewBase #TreePage_menuswitch span
{
	background-image: url({ThemePath}Images/Views/Dashboard/section.content-management.16x16.png);
}
#TreeViewBase #FilteredDashboardList
{
	overflow: hidden;
	height: 100%;
}

body.dashboard, body.itemview, .popup .activemessagecenter, .popupview .activemessagecenter, #AboutPopup #TopPanel, #TablePopup #header, #BluePrintViewerPopup body {
    background: url("/WebUI/Editors/CME/Themes/Carbon/Images/Views/HeaderBG_v6.0.0.39607.0_.png") repeat-x scroll 0 0 transparent;
}