<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge" xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration" xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions" xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">
	<resources cache="true">
		<cfg:filters/>
		<cfg:groups>

			<cfg:group name="PowerTools2011.Resources.Base" merge="always">
				<cfg:fileset>
					<cfg:file type="style">/PowerTools/Client/Shared/Theme/styles.css</cfg:file>
					<cfg:file type="style">/PowerTools/Client/Shared/Theme/jquery-ui.css</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/jquery.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/jquery-ui.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/jquery.tmpl.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/utils.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/Types.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/PowerToolsRegisty.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/ToolBase.js</cfg:file>
				</cfg:fileset>
			</cfg:group>

			<cfg:group name="PowerTools2011.Example" merge="always">
				<cfg:fileset>
					<cfg:file type="style">/PowerTools/Client/Example/Example.css</cfg:file>
  				<cfg:file type="script">/PowerTools/Client/Example/Example.js</cfg:file>
				</cfg:fileset>
				<cfg:dependencies>
					<cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
					<cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
					<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
				</cfg:dependencies>
			</cfg:group>


			<cfg:group name="PowerTools2011.ImageUploader" merge="always">
				<cfg:fileset>
					<cfg:file type="style">/PowerTools/Client/ImageUploader/ImageUploader.css</cfg:file>
					<cfg:file type="script">/PowerTools/Client/ImageUploader/ImageUploader.js</cfg:file>
				</cfg:fileset>
				<cfg:dependencies>
					<cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
					<cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
					<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
				</cfg:dependencies>
			</cfg:group>






			<cfg:group name="PowerTools2011.Commands" merger="Tridion.Web.UI.Core.Configuration.Resources.CommandGroupProcessor" include="byreference" merge="release">
				<cfg:fileset>
					<cfg:file type="script">/PowerTools/Client/Example/ExampleCommand.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/ImageUploader/ImageUploaderCommand.js</cfg:file>

					<!-- The index command must be registered last, after all other PT commands-->
					<cfg:file type="script">/PowerTools/Client/IndexPageCommand.js</cfg:file>

					<!--Reference to the commandset at the bottonm of the config file-->
					<cfg:file type="reference">PowerTools2011.Commandset</cfg:file>
				</cfg:fileset>
				<cfg:dependencies>
					<cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
					<cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
					<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
				</cfg:dependencies>
			</cfg:group>
		</cfg:groups>
	</resources>
	<definitionfiles/>
	<extensions>
		<ext:editorextensions>
			<ext:editorextension target="CME">
				<ext:editurls />
				<ext:listdefinitions />
				<ext:taskbars  />
				<ext:commands  />
				<ext:commandextensions />
				<ext:contextmenus>
					<ext:add>
						<ext:extension name="PowerToolsContextMenu" assignid="PowerToolsContextMenu" insertbefore="cm_refresh">
							<ext:menudeclaration externaldefinition="">
								<cmenu:ContextMenuItem id="PowerTools2011MenuGroup" name="PowerTools 2012">
									<!--Example PowerTools-->
									<cmenu:ContextMenuItem id="PT_Examples" name="Examples">
										<cmenu:ContextMenuItem id="PT_ImageUploader" name="Image Uploader" command="PT_ImageUploader"/>
									</cmenu:ContextMenuItem>
									<cmenu:ContextMenuItem id="PT_sep_1" type="separator"/>
								</cmenu:ContextMenuItem>
							</ext:menudeclaration>
							<ext:dependencies>
								<cfg:dependency>PowerTools2011.Commands</cfg:dependency>
							</ext:dependencies>
							<ext:apply>
								<ext:view name="DashboardView"/>
							</ext:apply>
						</ext:extension>
					</ext:add>
				</ext:contextmenus>
				<ext:lists/>
				<ext:tabpages>

				</ext:tabpages>
				<ext:toolbars  />
				<ext:ribbontoolbars>

					<!--
          
          Note that you no longer need to make the groups or tabs, just specify the ID's in the buttons
          
          
          -->




					<ext:add>



						<!--EXAMPLE PowerTool-->
						<ext:extension assignid="Example" name="Example&lt;br/&gt;PowerTool" pageid="PowerTools 2012" groupid="Examples">
							<ext:command>PT_Example</ext:command>
							<ext:title>Example PowerTool</ext:title>
							<ext:issmallbutton>false</ext:issmallbutton>
							<ext:dependencies>
								<cfg:dependency>PowerTools2011.Commands</cfg:dependency>
							</ext:dependencies>
							<ext:apply>
								<ext:view name="DashboardView" />
							</ext:apply>
						</ext:extension>


						<!--ImageUploader PowerTool-->
						<ext:extension assignid="ImageUploader" name="Image&lt;br/&gt;Uploader" pageid="PowerTools 2012" groupid="Tools">
							<ext:command>PT_ImageUploader</ext:command>
							<ext:title>Batch Image Uploader</ext:title>
							<ext:issmallbutton>false</ext:issmallbutton>
							<ext:dependencies>
								<cfg:dependency>PowerTools2011.Commands</cfg:dependency>
							</ext:dependencies>
							<ext:apply>
								<ext:view name="DashboardView" />
							</ext:apply>
						</ext:extension>




					</ext:add>
				</ext:ribbontoolbars>
			</ext:editorextension>
		</ext:editorextensions>
		<ext:dataextenders/>
	</extensions>
	<commands>
		<cfg:commandset id="PowerTools2011.Commandset">

			<cfg:command name="PT_Example" implementation="PowerTools2011.Commands.Example"/>
			<cfg:command name="PT_ImageUploader" implementation="PowerTools2011.Commands.ImageUploader"/>

			<cfg:command name="PT_Index" implementation="PowerTools2011.Commands.Index"/>


			<cfg:dependencies>
				<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
			</cfg:dependencies>
		</cfg:commandset>
	</commands>
	<contextmenus/>
	<localization/>
	<settings>
		<defaultpage>/Views/Default.aspx</defaultpage>
		<navigatorurl>/Views/Default.aspx</navigatorurl>
		<editurls/>
		<listdefinitions/>
		<itemicons/>
		<theme>
			<path>/PowerTools/Client/Shared/Theme/</path>
		</theme>
		<customconfiguration/>
	</settings>
</Configuration>

