<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge" xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration" xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions" xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">
  <resources cache="true">
    <cfg:filters/>
    <cfg:groups>

			<cfg:group name="PowerTools2011.Resources.Base" merge="always">
				<cfg:fileset>
					<cfg:file type="style">/powertools/client/shared/theme/styles.css</cfg:file>
					<cfg:file type="style">/powertools/client/shared/theme/jquery-ui.css</cfg:file>
					<cfg:file type="script">/powertools/client/shared/scripts/jquery.js</cfg:file>					
					<cfg:file type="script">/powertools/client/shared/scripts/jquery-ui.js</cfg:file>
					<cfg:file type="script">/powertools/client/shared/scripts/jquery.tmpl.js</cfg:file>
					<cfg:file type="script">/PowerTools/Client/Shared/Scripts/utils.js</cfg:file>
					<cfg:file type="script">/powertools/client/shared/scripts/Types.js</cfg:file>					
				</cfg:fileset>
			</cfg:group>

			<cfg:group name="Powertools2011.Example" merge="always">
				<cfg:fileset>
					<cfg:file type="style">/powertools/client/example/theme/styles.css</cfg:file>
					<cfg:file type="script">/powertools/client/example/ExampleServiceProxy.js</cfg:file>
					<cfg:file type="script">/powertools/client/example/example.aspx.js</cfg:file>
				</cfg:fileset>
				<cfg:dependencies>
					<cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
					<cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
					<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
				</cfg:dependencies>
			</cfg:group>
					
      <cfg:group name="PowerTools2011" merger="Tridion.Web.UI.Core.Configuration.Resources.CommandGroupProcessor" include="byreference" merge="release">
        <cfg:fileset>

					<cfg:file type="script">/powertools/client/example/examplecommand.js</cfg:file>
					
          <!--JQuery file-->
          
          <!--<cfg:file type="script">/PowerTools/Shared/jquery.js</cfg:file>-->
          <!--<cfg:file type="script">/PowerTools/Example/ExampleService.js</cfg:file>-->
          
          
          
          <!--Example Powertools Resources-->
          <!--<cfg:file type="script">/PowerTools/Example/commands.js</cfg:file>
          <cfg:file type="style">/PowerTools/Example/styles.css</cfg:file>-->

          <!--Default Resources for placeholde buttons-->
          <!--<cfg:file type="script">/PowerTools/Shared/commands.js</cfg:file>
          <cfg:file type="style">/PowerTools/Shared/styles.css</cfg:file>-->

          <!--Resources for main powertools index (Toolbox)-->
          <!--<cfg:file type="script">/PowerTools/Toolbox/commands.js</cfg:file>
          <cfg:file type="style">/PowerTools/Toolbox/styles.css</cfg:file>-->

          <!--Resources for BatchImageUploader-->
          <!--<cfg:file type="script">/PowerTools/BatchImageUploader/commands.js</cfg:file>
          <cfg:file type="style">/PowerTools/BatchImageUploader/styles.css</cfg:file>-->

          <!--Resources for Component Synchronizer-->
          <!--<cfg:file type="script">/PowerTools/CompSync/commands.js</cfg:file>
          <cfg:file type="style">/PowerTools/CompSync/styles.css</cfg:file>-->

          <!--Resources for PublishQueuPublish-->
          <!--<cfg:file type="script">/PowerTools/PublishQPublish/commands.js</cfg:file>-->
          <!--
          <cfg:file type="style">/PowerTools/PublishQPublish/styles.css</cfg:file>
          -->

          <!--Reference to the commandset at the bottonm of the config file-->
          <cfg:file type="reference">PowerTools2011.Commands</cfg:file>
          
        </cfg:fileset>
				<cfg:dependencies>
					<cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
					<cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
					<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
				</cfg:dependencies>
      </cfg:group>
    </cfg:groups>
  </resources>
  <definitionfiles/>
  <extensions>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls />
        <ext:listdefinitions />
        <ext:taskbars  />
        <ext:commands  />
        <ext:commandextensions />
        <ext:contextmenus>
          <ext:add>
            <ext:extension name="PowerToolsContextMenu" assignid="PowerToolsContextMenu" insertbefore="cm_refresh">
              <ext:menudeclaration externaldefinition="">
                <cmenu:ContextMenuItem id="PowerTools2011MenuGroup" name="PowerTools 2011&lt;sup&gt;TM&lt;/sup&gt;">

                  <!--Utility PowerTools-->
                  <cmenu:ContextMenuItem id="PT_ExportFolder" name="Export Virtual Folder" command="PT_Default"/>
                  <cmenu:ContextMenuItem id="PT_GeneratePages" name="Generate pages for components" command="PT_Default"/>

                  <!--BluePrinting related PowerTools-->
                  <cmenu:ContextMenuItem id="PT_Permissions" name="BluePrinting">
                    <cmenu:ContextMenuItem id="PT_CrossCopier" name="Cross Publication Copier" command="PT_Default"/>
                    <cmenu:ContextMenuItem id="PT_BluePrintViewer" name="BluePrint Viewer" command="PT_Default"/>
                  </cmenu:ContextMenuItem>             
                  
                  <!--Permissions related PowerTools-->
                  <cmenu:ContextMenuItem id="PT_Permissions" name="Permissions">
                    <cmenu:ContextMenuItem id="PT_PermissionsManager" name="Permisioins Manager" command="PT_Default"/>
                    <cmenu:ContextMenuItem id="PT_AccessExplorer" name="Access Explorer" command="PT_Default"/>
                    <cmenu:ContextMenuItem id="PT_AccessRightsManager" name="Access Rights Manager" command="PT_Default"/>
                  </cmenu:ContextMenuItem>

                  <!--Publish States-->
                  <cmenu:ContextMenuItem id="PT_Publishing" name="Publishing">
                    <cmenu:ContextMenuItem id="PT_PublishItems" name="Publish Items Individually" command="PT_Default"/>
                    <cmenu:ContextMenuItem id="PT_SetAsPublished" name="Set all items as published" command="PT_Default"/>
                    <cmenu:ContextMenuItem id="PT_SetAsUnPublished" name="Set all items as un-published" command="PT_Default"/>
                  </cmenu:ContextMenuItem>

                  <!--Schema related tools -->
                  <cmenu:ContextMenuItem id="PT_SchemaTools" name="Schema tools">
                    <cmenu:ContextMenuItem id="PT_CompSync" name="Component Synchronizer" command="PT_CompSync"/>
                    <cmenu:ContextMenuItem id="PT_FieldRemover" name="Field Remover" command="PT_Default"/>
                  </cmenu:ContextMenuItem>

                  <!--Example PowerTool-->          
                  <cmenu:ContextMenuItem id="PT_sep_4" type="separator"/>
                  <cmenu:ContextMenuItem id="PT_Example" name="Example Powertool" command="PT_Example"/>
                  
                </cmenu:ContextMenuItem>
              </ext:menudeclaration>
              <ext:dependencies>
                <cfg:dependency>PowerTools2011</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView"/>
              </ext:apply>
            </ext:extension>
            <!--<ext:extension name="Replublish" assignid="PT_RepublishExtension" insertbefore="cm_open">
              <ext:menudeclaration externaldefinition="">
                <cmenu:ContextMenuItem id="PowerTools2011MenuGroup_PubQ" name="PowerTools 2011&lt;sup&gt;TM&lt;/sup&gt;">
                  <cmenu:ContextMenuItem id="PT_PublishQPublish" name="Re-publish" command="PT_PublishQPublish"/>
                </cmenu:ContextMenuItem>
              </ext:menudeclaration>
              <ext:dependencies>
                <cfg:dependency>PowerTools2011</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="*">
                  <ext:control id="PublishQueueContextMenu"/>
                </ext:view>
              </ext:apply>
            </ext:extension>-->
          </ext:add>
        </ext:contextmenus>
        <ext:lists/>
        <ext:tabpages>

        </ext:tabpages>
        <ext:toolbars  />
        <ext:ribbontoolbars>
          <ext:add>
            <!--Add a Powertools 2011 group to the existing 'Tools' tab-->
            <ext:extension assignid="PowerTools" name="Power Tools 2011" pageid="ToolsPage">
              <ext:group />
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>
            
						<!--Add a toolbox button at the start of the group-->
						<ext:extension assignid="Example" name="Example&lt;br/&gt;PowerTool" pageid="ToolsPage" groupid="PowerTools">
							<ext:command>PT_Example</ext:command>
							<ext:title>Example PowerTool</ext:title>
							<ext:issmallbutton>false</ext:issmallbutton>
							<ext:dependencies>
								<cfg:dependency>PowerTools2011</cfg:dependency>
							</ext:dependencies>
							<ext:apply>
								<ext:view name="DashboardView" />
							</ext:apply>
						</ext:extension>
						
						<!--<ext:extension assignid="PowerToolsIndex" name="Toolbox" pageid="ToolsPage" groupid="PowerTools">
              <ext:command>PT_Toolbox</ext:command>
              <ext:title>PowerTools 2011 Index</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools2011</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>
            
            <ext:extension assignid="BatchImageUploader" name="Batch Image&lt;br/&gt;Uploader" pageid="ToolsPage" groupid="PowerTools">
              <ext:command>PT_BatchImageUploader</ext:command>
              <ext:title>Batch Image Uploader</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools2011</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>
            <ext:extension assignid="SerachReplace" name="Search &amp;&lt;br/&gt;Replace" pageid="ToolsPage" groupid="PowerTools">
              <ext:command>PT_Default</ext:command>
              <ext:title>Search &amp; Replace</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools2011</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>
            <ext:extension assignid="SchemaTemplateRelationships" name="Schema/Template&lt;br/&gt;Relationships" pageid="ToolsPage" groupid="PowerTools">
              <ext:command>PT_Default</ext:command>
              <ext:title>Schema/Template Relationships</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools2011</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>-->
          </ext:add>
        </ext:ribbontoolbars>
      </ext:editorextension>
    </ext:editorextensions>
    <ext:dataextenders/>
  </extensions>
  <commands>
    <cfg:commandset id="PowerTools2011.Commands">

			<cfg:command name="PT_Example" implementation="PowerTools2011.Commands.Example"/>
			<!--<cfg:command name="PT_Default" implementation="UrbanCherry.SDLTridion.GUIExtensions.PowerTools2011.Default"/>
      <cfg:command name="PT_Toolbox" implementation="UrbanCherry.SDLTridion.GUIExtensions.PowerTools2011.Toolbox"/>
      <cfg:command name="PT_BatchImageUploader" implementation="UrbanCherry.SDLTridion.GUIExtensions.PowerTools2011.BatchImageUploader"/>
      <cfg:command name="PT_CompSync" implementation="UrbanCherry.SDLTridion.GUIExtensions.PowerTools2011.CompSync"/>
      <cfg:command name="PT_PublishQPublish" implementation="UrbanCherry.SDLTridion.GUIExtensions.PowerTools2011.PublishQPublish"/>-->
			<cfg:dependencies>
				<cfg:dependency>PowerTools2011.Resources.Base</cfg:dependency>
			</cfg:dependencies>
    </cfg:commandset>
  </commands>
  <contextmenus/>
  <localization/>
  <settings>
    <defaultpage>/Views/Default.aspx</defaultpage>
    <navigatorurl>/Views/Default.aspx</navigatorurl>
    <editurls/>
    <listdefinitions/>
    <itemicons/>
    <theme>
      <path>/powertools/client/shared/theme/</path>
    </theme>
    <customconfiguration/>
  </settings>
</Configuration>

