<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <identity impersonate="true"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>

  <system.serviceModel>
    <bindings>
      
      <webHttpBinding>
        <binding name="webHttpBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PowerTools2011Editor.ExampleServiceAspNetAjaxBehavior">
          <webHttp />
          <enableWebScript />
        </behavior>
        <behavior name="PowerTools2011Editor.PowerTools.BatchImageUploader.testAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ExampleServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    <services>
      <service behaviorConfiguration="ExampleServiceBehaviors" name="PowerTools2011Editor.ExampleService">
        <endpoint address="" behaviorConfiguration="PowerTools2011Editor.ExampleServiceAspNetAjaxBehavior"
          binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
          contract="PowerTools2011Editor.ExampleService" />
      </service>
    </services>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
