<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
		<customErrors mode="Off" />
    
		<identity impersonate="true"/>
   
		<compilation debug="true">
      <!--<assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>-->
    </compilation>
  </system.web>

  <system.serviceModel>
    <bindings>
      
      <webHttpBinding>
        <binding name="webHttpBindingConfig" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PowerTools2011Editor.ExampleServiceAspNetAjaxBehavior">
          <webHttp />
          <enableWebScript />
        </behavior>
        <behavior name="PowerTools2011Editor.PowerTools.BatchImageUploader.testAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ExampleServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    <services>
      <service behaviorConfiguration="ExampleServiceBehaviors" name="PowerTools2011.Services.ImageUploader">
        <endpoint address="" behaviorConfiguration="PowerTools2011Editor.ExampleServiceAspNetAjaxBehavior"
          binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
          contract="PowerTools2011.Services.ImageUploader" />
      </service>
      <service behaviorConfiguration="ExampleServiceBehaviors" name="PowerTools2011.Services.Example.ExampleService">
        <endpoint address="" behaviorConfiguration="PowerTools2011Editor.ExampleServiceAspNetAjaxBehavior"
          binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
          contract="PowerTools2011.Services.Example.ExampleService" />
      </service>
			<service behaviorConfiguration="ExampleServiceBehaviors" name="PowerTools2011.Services.Overview.OverviewService">
				<endpoint address="" behaviorConfiguration="PowerTools2011Editor.ExampleServiceAspNetAjaxBehavior"
					binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig"
          contract="PowerTools2011.Services.Overview.IOverviewService" />
			</service>
    </services>
  </system.serviceModel>

	<system.webServer>
		<handlers>
			<remove name="CME-CLR2-Integrated-stringresources"/>
			<remove name="CME-CLR4-Integrated-stringresources" />
			<remove name="CME-CLR2-Integrated-js"/>
			<remove name="CME-CLR4-Integrated-js" />
			<remove name="CME-CLR2-Integrated-css" />
			<remove name="CME-CLR4-Integrated-css" />
			<remove name="CME-CLR2-Integrated-xsl" />
			<remove name="CME-CLR4-Integrated-xsl" />
			<remove name="CME-CLR2-Integrated-xslt" />
			<remove name="CME-CLR4-Integrated-xslt" />
			<remove name="CME-CLR2-Integrated-xml" />
			<remove name="CME-CLR4-Integrated-xml" />
			<remove name="CME-CLR2-Integrated-gif" />
			<remove name="CME-CLR4-Integrated-gif" />
			<remove name="CME-CLR2-Integrated-png" />
			<remove name="CME-CLR4-Integrated-png" />
			<remove name="CME-CLR2-Integrated-jpg" />
			<remove name="CME-CLR4-Integrated-jpg" />
			<remove name="CME-CLR2-Integrated-download"/>
			<remove name="CME-CLR4-Integrated-download" />

			<remove name="CME-CLR2-Classic-32bit-stringresources"/>
			<remove name="CME-CLR4-Classic-32bit-stringresources" />
			<remove name="CME-CLR2-Classic-64bit-stringresources" />
			<remove name="CME-CLR4-Classic-64bit-stringresources" />
			<remove name="CME-CLR2-Classic-32bit-js"/>
			<remove name="CME-CLR4-Classic-32bit-js" />
			<remove name="CME-CLR2-Classic-64bit-js" />
			<remove name="CME-CLR4-Classic-64bit-js" />
			<remove name="CME-CLR2-Classic-32bit-css" />
			<remove name="CME-CLR4-Classic-32bit-css" />
			<remove name="CME-CLR2-Classic-64bit-css" />
			<remove name="CME-CLR4-Classic-64bit-css" />
			<remove name="CME-CLR2-Classic-32bit-xsl" />
			<remove name="CME-CLR4-Classic-32bit-xsl" />
			<remove name="CME-CLR2-Classic-64bit-xsl" />
			<remove name="CME-CLR4-Classic-64bit-xsl" />
			<remove name="CME-CLR2-Classic-32bit-xslt" />
			<remove name="CME-CLR4-Classic-32bit-xslt" />
			<remove name="CME-CLR2-Classic-64bit-xslt" />
			<remove name="CME-CLR4-Classic-64bit-xslt" />
			<remove name="CME-CLR2-Classic-32bit-xml" />
			<remove name="CME-CLR4-Classic-32bit-xml" />
			<remove name="CME-CLR2-Classic-64bit-xml" />
			<remove name="CME-CLR4-Classic-64bit-xml" />
			<remove name="CME-CLR2-Classic-32bit-gif" />
			<remove name="CME-CLR4-Classic-32bit-gif" />
			<remove name="CME-CLR2-Classic-64bit-gif" />
			<remove name="CME-CLR4-Classic-64bit-gif" />
			<remove name="CME-CLR2-Classic-32bit-png" />
			<remove name="CME-CLR4-Classic-32bit-png" />
			<remove name="CME-CLR2-Classic-64bit-png" />
			<remove name="CME-CLR4-Classic-64bit-png" />
			<remove name="CME-CLR2-Classic-32bit-jpg" />
			<remove name="CME-CLR4-Classic-32bit-jpg" />
			<remove name="CME-CLR2-Classic-64bit-jpg" />
			<remove name="CME-CLR4-Classic-64bit-jpg" />
			<remove name="CME-CLR2-Classic-32bit-bmp" />
			<remove name="CME-CLR4-Classic-32bit-bmp" />
			<remove name="CME-CLR2-Classic-64bit-bmp" />
			<remove name="CME-CLR4-Classic-64bit-bmp" />
			<remove name="CME-CLR2-Classic-32bit-download"/>
			<remove name="CME-CLR4-Classic-32bit-download"/>
			<remove name="CME-CLR2-Classic-64bit-download"/>
			<remove name="CME-CLR4-Classic-64bit-download" />

		</handlers>
		<modules>
			<remove  name="CME-Core-VersionUrlRewriter"/>
			<remove name="CME-Core-IconUrlRewriter"/>
			<remove  name="CME-Core-ItemUrlRewriter"/>
			<remove name="CME-Core-BrowserCheckModule"/>
			<remove  name="CME-Core-FileNotChangedModule"/>
			<remove  name="TcmAuthorizationModule"/>
			<remove name="CMEIconUrlRewriter"/>
			<remove name="LocalizationModule"/>
			<remove  name="OEIconUrlRewriter"/>
		</modules>
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>


		</compilers>
	</system.codedom>
	
</configuration>
