
body
{
    font-family: Arial;
    font-size:12px;
}

div#PowerToolIcon
{
    width:64px;
    height:64px;
    float:right;
}


.PT_Default .image {background-image:url({ThemePath}/PowerTools/Shared/Icons/terminal_16.png);}
.ribbontoolbar .button.PT_Default .image {background-image: url({ThemePath}/PowerTools/Shared/Icons/terminal_32.png);} 
.ribbontoolbar.minimized .button.PT_Default .image {background-image: url({ThemePath}/PowerTools/Shared/Icons/terminal_16.png);} 
