<?xml version="1.0" encoding="utf-8" ?>
<Configuration	xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
				xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
				xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
				xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

	<!--
		The SDL Tridion GUI uses a merging technique to minimize the amount of calls done by the client
		for static files (like .css and .js file).
		The files can be grouped and will be merged per group (if merging is enabled on the group)
		For debugging purposes the merging behavior can be swiched off by setting the merge attribute to false.
	-->
	<resources cache="true">
		<cfg:filters />

		<cfg:groups>
			<cfg:group name="PowerTools.Model" merger="Tridion.Web.UI.Core.Configuration.Resources.DomainModelProcessor" merge="always">
				<cfg:domainmodel name="PowerTools.Model">
					<cfg:fileset>
						<!-- <cfg:file type="script">/Scripts/Constants.js</cfg:file> -->
					</cfg:fileset>

					<cfg:services>
						<cfg:service type="wcf">/Services/Example.svc</cfg:service>
						<cfg:service type="wcf">/Services/ImageUploader.svc</cfg:service>
						<cfg:service type="wcf">/Services/PagePublisher.svc</cfg:service>
						<cfg:service type="wcf">/Services/FieldRemover.svc</cfg:service>
						<cfg:service type="wcf">/Services/ComponentSynchronizer.svc</cfg:service>
						<cfg:service type="wcf">/Services/CountItems.svc</cfg:service>
					</cfg:services>
				</cfg:domainmodel>
			</cfg:group>
		</cfg:groups>
	</resources>

	<definitionfiles />

	<!--
		The SDL Tridion GUI allows for additions, manipulations and removal of items within the GUI through
		the 'extension methodology'.

		Below is the configuration section for those extensions.
		These configuration sections can be defined inline or external (if the externaldefinition is used, all
		inline content is ignored!)
	-->
	<extensions>
		<ext:editorextensions />
		<ext:dataextenders />
		<ext:modelextensions />
	</extensions>

	<!--
		The SDL Tridion GUI uses a 'Command' pattern for the commands executed whenever a user
		interacts with the system.

		Below are all the available commands specified and the file that holds the actual implementation of that command.
	-->
	<commands />

	<!--
		The SDL Tridion GUI allows for context menu's to have 'external definitions', which can be used by referencing
		their configuration name in the views (aspx page)
		Below are the standard context menus as delivered by SDL Tridion
	-->
	<contextmenus />

	<localization>
		<!--<cfg:clientresource servertype="Resources.Tridion.PowerTools.UI.Model.Strings, App_GlobalResources" clientname="Tridion.PowerTools.Model.Strings" />-->
	</localization>

	<settings>
		<customconfiguration />
	</settings>
</Configuration>