<model name="PowerTools" xmlns="http://www.sdltridion.com/2009/GUI/Configuration">
	<!--
		Replace [Powertools_Home] with the folder path Tridion Powertools project resides.
		
		Example for my machine: D:\Projects\tridion-2011-power-tools
	-->
	<installpath>[Powertools_Home]\PowerTools.Model</installpath>
	<configuration>Configuration\Model.config</configuration>
	<vdir>PowerTools</vdir>
</model>
