<editor name="PowerTools" xmlns="http://www.sdltridion.com/2009/GUI/Configuration">
	<!--
		Replace [Powertools_SVN_Home] with the folder where you have checked out
		the Tridion Powertools 2011 project from Coogle code.
		
		Example for my machine: D:\Projects\tridion-2011-power-tools
	-->
	<installpath>[Powertools_SVN_Home]\PowerTools2011.Editor\</installpath>
	<configuration>Configuration\Editor.config</configuration>
	<vdir>PowerTools2011</vdir>
</editor>