<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge" xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration" xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions" xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">
  <resources cache="true">
    <cfg:filters/>
    <cfg:extensiongroups>
      <cfg:extensiongroup name="ShowPublishTaskOnOpen">
        <cfg:extension target="Tridion.Web.UI.Editors.CME.Views.Popups.PublishQueue">
          <cfg:insertafter>PowerTools.ShowPublishTaskOnOpen</cfg:insertafter>
        </cfg:extension>
      </cfg:extensiongroup>
    </cfg:extensiongroups>
    
    <cfg:groups>
      <cfg:group name="PowerTools.Resources.Base" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/Shared/Theme/styles.css</cfg:file>
          <cfg:file type="style">/PowerTools/Client/Shared/Theme/jquery-ui.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/jquery.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/jquery-ui.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/jquery.tmpl.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/ProgressDialog/ProgressDialog.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/BasePowerTool.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/utils.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/Types.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/PowerToolsRegisty.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Shared/Scripts/ToolBase.js</cfg:file>
        </cfg:fileset>
      </cfg:group>

      <!-- Theme files (based on the CME theme)-->
      <cfg:group name="PowerTools.ThemeFiles">
        <cfg:fileset>
          <cfg:file type="style">{ThemePath}/styles.css</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.Theme</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Show publish tasks on PublishQueue open-->
      <cfg:group name="PowerTools.ShowPublishTaskOnOpen">
        <cfg:fileset>
          <cfg:file type="script">/PowerTools/Client/ShowPublishTasks/ShowPublishTasks.js</cfg:file>
        </cfg:fileset>
      </cfg:group>

      <!-- XML Syntax Highlighter Tab -->
      <cfg:group name="PowerTools.ItemXmlTab" merge="always">
        <cfg:fileset>
          <cfg:file type="script">/PowerTools/Client/ItemXml/ItemXmlTab.ascx.js</cfg:file>
          <cfg:file type="style">/PowerTools/Client/ItemXml/ItemXmlTab.ascx.css</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Example PowerTool -->
      <cfg:group name="PowerTools.Example" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/Example/Example.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Example/Example.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Image Uploader PowerTool -->
      <cfg:group name="PowerTools.ImageUploader" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/ImageUploader/ImageUploader.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/ImageUploader/ImageUploader.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Field Remover PowerTool -->
      <cfg:group name="PowerTools.FieldRemover" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/FieldRemover/FieldRemover.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/FieldRemover/FieldRemover.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Page Publisher PowerTool -->
      <cfg:group name="PowerTools.PagePublisher" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/PagePublisher/PagePublisher.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/PagePublisher/PagePublisher.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Mark Unpublished PowerTool -->
      <cfg:group name="PowerTools.MarkUnpublished" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/MarkUnpublished/MarkUnpublished.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/MarkUnpublished/MarkUnpublished.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Component Synchronizer PowerTool -->
      <cfg:group name="PowerTools.ComponentSynchronizer" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/ComponentSynchronizer/ComponentSynchronizer.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/ComponentSynchronizer/ComponentSynchronizer.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.Views.ItemWithSchemaView</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.Views.ItemView </cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Count Items PowerTool -->
      <cfg:group name="PowerTools.CountItems" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/CountItems/CountItems.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/CountItems/CountItems.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Application Data Inspector PowerTool -->
      <cfg:group name="PowerTools.AppDataInspectorPopup" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/AppDataInspector/AppDataInspector.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/AppDataInspector/AppDataInspectorPopup.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/AppDataInspector/AppDataInspectorWorker.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>

      <!-- Application Data Inspector Tab PowerTool -->
      <cfg:group name="PowerTools.AppDataInspectorTab" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/AppDataInspector/AppDataInspector.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/AppDataInspector/AppDataInspectorTab.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/AppDataInspector/AppDataInspectorWorker.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
      <!-- Document Item PowerTool -->
      <cfg:group name="PowerTools.DocumentItem" merge="always">
        <cfg:fileset>
          <cfg:file type="script">/PowerTools/Client/DocumentItem/CountItems.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
      <!-- Help Tool -->
      <cfg:group name="PowerTools.Help" merge="always">
        <cfg:fileset>
          <cfg:file type="style">/PowerTools/Client/Help/Help.css</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Help/Help.js</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
      <cfg:group name="PowerTools.Commands" merger="Tridion.Web.UI.Core.Configuration.Resources.CommandGroupProcessor" include="byreference" merge="release">
        <cfg:fileset>
          <cfg:file type="script">/PowerTools/Client/Example/ExampleCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/ImageUploader/ImageUploaderCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/PagePublisher/PagePublisherCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/FieldRemover/FieldRemoverCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/MarkUnpublished/MarkUnpublishedCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/ComponentSynchronizer/ComponentSynchronizerCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/CountItems/CountItemsCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/AppDataInspector/AppDataInspectorCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/ViewInFrontend/ViewInFrontEnd.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/DocumentItem/DocumentItemCommand.js</cfg:file>
          <cfg:file type="script">/PowerTools/Client/Help/HelpCommand.js</cfg:file>
          <!-- The index command must be registered last, after all other PT commands-->
          <cfg:file type="script">/PowerTools/Client/IndexPageCommand.js</cfg:file>

          <!--Reference to the commandset at the bottonm of the config file-->
          <cfg:file type="reference">PowerTools.Commandset</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
          <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
    </cfg:groups>
  </resources>

  <definitionfiles/>

  <extensions>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls />

        <ext:listdefinitions />

        <ext:taskbars  />

        <ext:commands  />

        <ext:commandextensions />

        <ext:contextmenus>
          <ext:add>
            <ext:extension name="PowerToolsContextMenu" assignid="PowerToolsContextMenu" insertbefore="cm_refresh">
              <ext:menudeclaration externaldefinition="">
                <cmenu:ContextMenuItem id="PowerToolsMenuGroup" name="Power Tools">
                  <!--Example PowerTools-->
                  <cmenu:ContextMenuItem id="PT_PagePublisher" name="Page Publisher" command="PT_PagePublisher"/>
                  <cmenu:ContextMenuItem id="PT_MarkUnpublished" name="Mark as Unpublished" command="PT_MarkUnpublished"/>
                  <cmenu:ContextMenuItem id="PT_CountItems" name="Count Items" command="PT_CountItems"/>
                  <cmenu:ContextMenuItem id="PT_ComponentSynchronizer" name="Component Synchronizer" command="PT_ComponentSynchronizer"/>
                  <cmenu:ContextMenuItem id="PT_AppDataInspector" name="Application Data Inspector" command="PT_AppDataInspector"/>
                  <cmenu:ContextMenuItem id="PT_DocumentItem" name="Documentation" command="PT_DocumentItem"/>
                  <cmenu:ContextMenuItem id="PT_Examples" name="Examples">
                    <cmenu:ContextMenuItem id="PT_Example" name="Example Powertool" command="PT_Example"/>
                    <cmenu:ContextMenuItem id="PT_ImageUploader" name="Image Uploader" command="PT_ImageUploader"/>
                    <cmenu:ContextMenuItem id="PT_FieldRemover" name="Field Remover" command="PT_FieldRemover"/>
                  </cmenu:ContextMenuItem>
                  <cmenu:ContextMenuItem id="PT_ViewIn" name="View In..">
                    <cmenu:ContextMenuItem id="PT_ViewInStaging" name="Staging" command="PT_ViewInStaging"/>
                    <cmenu:ContextMenuItem id="PT_ViewInLive" name="Live" command="PT_ViewInLive"/>
                  </cmenu:ContextMenuItem>
                  <cmenu:ContextMenuItem id="PT_sep_1" type="separator"/>
                </cmenu:ContextMenuItem>
              </ext:menudeclaration>

              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>

              <ext:apply>
                <ext:view name="DashboardView"/>
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:contextmenus>

        <ext:lists/>

        <ext:tabpages>
          <ext:add>
            <!--- Example tab -->
            <ext:extension assignid="ItemXmlTab" name="Item Xml" insertbefore="InfoTab">
              <ext:control>~/PowerTools/Client/ItemXml/ItemXmlTab.ascx</ext:control>
              <ext:pagetype>ItemXmlTab</ext:pagetype>
              <ext:apply>
                <ext:view name="*">
                  <ext:control id="MasterTabControl" />
                </ext:view>
              </ext:apply>
            </ext:extension>

            <!--- Application Data Inspector Tab -->
            <ext:extension assignid="AppDataInspectorTab" name="Application Data" insertbefore="InfoTab">
              <ext:control>~/PowerTools/Client/AppDataInspector/AppDataInspectorTab.ascx</ext:control>
              <ext:pagetype>AppDataInspectorTab</ext:pagetype>
              <ext:apply>
                <ext:view name="*">
                  <ext:control id="MasterTabControl" />
                </ext:view>
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:tabpages>

        <ext:toolbars/>

        <ext:ribbontoolbars>
          <!-- Note that you no longer need to make the groups or tabs, just specify the ID's in the buttons -->
          <ext:add>
            <!-- Example PowerTool -->
            <ext:extension assignid="Example" name="Example&lt;br/&gt;PowerTool" pageid="Power Tools" groupid="Examples">
              <ext:command>PT_Example</ext:command>
              <ext:title>Example PowerTool</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Image Uploader PowerTool -->
            <ext:extension assignid="ImageUploader" name="Image&lt;br/&gt;Uploader" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_ImageUploader</ext:command>
              <ext:title>Batch Image Uploader</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Field Remover PowerTool -->
            <ext:extension assignid="FieldRemover" name="Field&lt;br/&gt;Remover" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_FieldRemover</ext:command>
              <ext:title>Schema Field Remover</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Mark Unpublished PowerTool -->
            <ext:extension assignid="MarkUnpublished" name="Mark as&lt;br/&gt;Unpublished" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_MarkUnpublished</ext:command>
              <ext:title>Mark as Unpublished</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Page Publisher PowerTool -->
            <ext:extension assignid="PagePublisher" name="Page&lt;br/&gt;Publisher" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_PagePublisher</ext:command>
              <ext:title>Batch Page Publisher</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Component Synchronizer PowerTool -->
            <ext:extension assignid="ComponentSynchronizer" name="Component&lt;br/&gt;Synchronizer" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_ComponentSynchronizer</ext:command>
              <ext:title>Component Synchronizer</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Count Items PowerTool -->
            <ext:extension assignid="CountItems" name="Count Items" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_CountItems</ext:command>
              <ext:title>Count Items</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Application Data Inspector PowerTool -->
            <ext:extension assignid="AppDataInspectorPopup" name="Application Data&lt;br/&gt;Inspector" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_AppDataInspector</ext:command>
              <ext:title>Application Data Inspector</ext:title>
              <ext:issmallbutton>false</ext:issmallbutton>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <ext:extension assignid="ViewInStagingBtn" name="View In Staging"  pageid="Power Tools" groupid="Tools">
              <ext:command>PT_ViewInStaging</ext:command>
              <ext:title>View In Staging</ext:title>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <ext:extension assignid="ViewInLiveBtn" name="View In Live" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_ViewInLive</ext:command>
              <ext:title>View In Live</ext:title>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

            <!-- Help -->
            <ext:extension assignid="Help" name="PowerTools&lt;br /&gt;Help" pageid="Power Tools" groupid="Tools">
              <ext:command>PT_Help</ext:command>
              <ext:title>Help</ext:title>
              <ext:dependencies>
                <cfg:dependency>PowerTools.Commands</cfg:dependency>
              </ext:dependencies>
              <ext:apply>
                <ext:view name="DashboardView" />
              </ext:apply>
            </ext:extension>

          </ext:add>
        </ext:ribbontoolbars>
      </ext:editorextension>
    </ext:editorextensions>
    <ext:dataextenders/>
  </extensions>

  <commands>
    <cfg:commandset id="PowerTools.Commandset">
      <cfg:command name="PT_Index" implementation="PowerTools.Commands.Index"/>
      <cfg:command name="PT_Example" implementation="PowerTools.Commands.Example"/>
      <cfg:command name="PT_ImageUploader" implementation="PowerTools.Commands.ImageUploader"/>
      <cfg:command name="PT_PagePublisher" implementation="PowerTools.Commands.PagePublisher"/>
      <cfg:command name="PT_FieldRemover" implementation="PowerTools.Commands.FieldRemover"/>
      <cfg:command name="PT_MarkUnpublished" implementation="PowerTools.Commands.MarkUnpublished"/>
      <cfg:command name="PT_ComponentSynchronizer" implementation="PowerTools.Commands.ComponentSynchronizer"/>
      <cfg:command name="PT_CountItems" implementation="PowerTools.Commands.CountItems"/>
      <cfg:command name="PT_AppDataInspector" implementation="PowerTools.Commands.AppDataInspectorPopup"/>
      <cfg:command name="PT_ViewInStaging" implementation="PowerTools.Commands.ViewInStaging"/>
      <cfg:command name="PT_ViewInLive" implementation="PowerTools.Commands.ViewInLive"/>
      <cfg:command name="PT_DocumentItem" implementation="PowerTools.Commands.DocumentItem"/>
      <cfg:command name="PT_Help" implementation="PowerTools.Commands.Help"/>
      <cfg:dependencies>
        <cfg:dependency>PowerTools.Resources.Base</cfg:dependency>
      </cfg:dependencies>
    </cfg:commandset>
  </commands>

  <contextmenus/>

  <localization/>

  <settings>
    <defaultpage>/Views/Default.aspx</defaultpage>

    <navigatorurl>/Views/Default.aspx</navigatorurl>

    <editurls/>

    <listdefinitions/>

    <itemicons/>

    <theme>
      <path>/PowerTools/Client/Shared/Theme/</path>
      <resourcegroup>PowerTools.ThemeFiles</resourcegroup>
    </theme>
    <resourceextensions>
      <resourceextension>ShowPublishTaskOnOpen</resourceextension>
    </resourceextensions>
    <customconfiguration>
      <listofpowertools>
        <pt id="AppDataInspector" category="Developers">AppData Inspector</pt>
        <pt id="Example" category="Developers">Example PowerTool</pt>
        <pt id="ComponentSynchronizer" category="System">Component Synchronizer</pt>
        <pt id="CountItems" category="General">Count Items</pt>
        <pt id="DocumentItem" category="Developers">Document Item</pt>
        <pt id="FieldRemover" category="System">Field remover</pt>
        <pt id="Help" category="General">Help tool</pt>
        <pt id="ImageUploader" category="General">Imageuploader</pt>
        <pt id="ItemXml" category="Developers">ItemXml</pt>
        <pt id="MarkUnpublish" category="System">Mark as Unpublished</pt>
        <pt id="PagePublisher" category="General">Page publisher</pt>
        <pt id="PublishQueueViewExtension" category="General">Show publish tasks</pt>
        <pt id="ViewIn" category="General">View in frontend</pt>
      </listofpowertools>
    </customconfiguration>
  </settings>
</Configuration>

