.customButton {
    cursor: pointer;
    float: right;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 8px;
}



body{
    font-family: Arial;
    font-size:11px;
    color: #41464C;
    font-family: Verdana,Helvetica;    
}



/* Z-index of #mask must lower than #boxes .window 
#mask
{
    position: absolute;
    top: 0;
    left:0;
    z-index: 9000;
    background-color: #000;
    display: none;
}
        
#ModalDialog .window
{
    position: absolute;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
}
        */
        
/* Customize your modal window here, you can add background image too */
#boxes #dialog
{
    width: 375px;
    height: 203px;
}

.tool-explanation
{
    margin-bottom: 20px;
}

/* Page Publisher added */
.tridion .dropdown {
    background-color: #FFFFFF;
    background-position: 2px 0;
    border: 1px solid #CCCCCC;
    margin-right: 2px;
    min-height: 16px;
    min-width: 100px;
}

.tridion .splitter.vertical {
    height: 100%;
    position: relative;
}

.box-spacer-10 {
    margin: 10px;
}

.handle {
    background: none repeat scroll 0 0 transparent !important;
    cursor: default !important;
    width: 10px !important;
}

.panel1
{
    float: left;
    height: 100%;
    margin: 0 10px;
    overflow: auto;
    padding: 0;
    width: auto;
    width: 290px !important;
}

.panel1 .ttLabel {
    margin: 0;
    padding: 0 0 10px;
}

.panel2 {
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0 0 0 10px;
    width: auto;
}

.box-spacer-5 {
    margin: 5px;
}

.top-spacer-5 {
    margin-top: 5px;
}


#OptionsTabControl_pages {
    border: 1px solid #A1A9B2;
}

#TargetTypeList {
    border: 1px solid #A1A9B2;
}

.tridion .list {
    overflow: hidden;
    position: relative;
}

input[type=text] {
    font-family: Verdana;
    font-size: 11px;  
}



#PublishLaterDate
{
    display: block;
    clear:both;
}

#PublishLaterDate input[type="text"], #GenerateContentDate input[type="text"], #PlaceContentDate input[type="text"]
{
    width: 165px !important; /* afraid I had too! */
    border: 1px solid #B8C1CC;
    margin: 5px 0 0 25px;
}

.tridion .text_highlight {
    color: #2972CC;
}

.left-tabbed {
    margin-left: 25px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

