<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

		<pages>
		  <controls>
			<add tagPrefix="cme" namespace="Tridion.Web.UI.Editors.CME.Controls" assembly="Tridion.Web.UI.Editors.CME" />
		  </controls>
		
		</pages>
	
	</system.web>

</configuration>
