.customButton
{
	cursor: pointer;
	float: right;
	font-size: 11px;
	margin-right: 10px;
	margin-top: 8px;
}

body
{
	font-family: Arial;
	font-size: 12px;
}

/* Z-index of #mask must lower than #boxes .window */
#mask
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
}

#ModalDialog .window
{
	position: absolute;
	width: 440px;
	height: 200px;
	display: none;
	z-index: 9999;
	padding: 20px;
}

/* Customize your modal window here, you can add background image too */
#boxes #dialog
{
	width: 375px;
	height: 203px;
}

.Sample
{
	background-color: Red;
}

.tool-explanation
{
	margin-bottom: 20px;
}

.fl
{
	float: left;
	width: 33%;
}

ul
{
	list-style-type: none;
	margin-top: 0;
	padding-left: 5px;
}

td
{
	vertical-align: top;
}

td span
{
	font-weight: bold;
}

.br
{
	clear: both;
}

#RefreshButton
{
	margin-bottom: 10px;
}

