#AppDataInspector #RefreshButton
{
	margin-bottom: 10px;
}

#AppDataInspector #table
{
	width: 100%;
	height: 400px;
	overflow: auto;
}

#AppDataInspector #tabletab
{
	width: 100%;
	height: 100%;
	overflow: auto;
}

#AppDataInspector #table th, #AppDataInspector #tabletab th 
{
	height: 20px;
	padding: 3px;
	background-color: #e5e5e5;
}

#AppDataInspector td
{
	vertical-align: top;
}

#AppDataInspector td img
{
	height: 64px;
	width: 64px;
}

#AppDataInspector td span
{
	font-weight: bold;
}

#AppDataInspector .row0
{
	background-color: #f2f2f2;
}

#AppDataInspector .row1
{
	background-color: #e5e5e5;
}