<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="PowerTools.Model.Services.Example" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
				<endpoint name="Example" address="" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig" contract="PowerTools.Model.Services.Example"/>
			</service>
			<service name="PowerTools.Model.Services.ImageUploader" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
				<endpoint name="ImageUploader" address="" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig" contract="PowerTools.Model.Services.ImageUploader"/>
			</service>
			<service name="PowerTools.Model.Services.PagePublisher" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
				<endpoint name="PagePublisher" address="" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig" contract="PowerTools.Model.Services.PagePublisher"/>
			</service>
			<service name="PowerTools.Model.Services.FieldRemover" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
				<endpoint name="FieldRemover" address="" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig" contract="PowerTools.Model.Services.FieldRemover"/>
			</service>
			<service name="PowerTools.Model.Services.MarkUnpublished" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.DeveloperBehavior">
				<endpoint name="MarkUnpublished" address="" behaviorConfiguration="Tridion.Web.UI.ContentManager.WebServices.AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="Tridion.Web.UI.ContentManager.WebServices.WebHttpBindingConfig" contract="PowerTools.Model.Services.MarkUnpublished"/>
			</service>
		</services>
	</system.serviceModel>

</configuration>
